<div class="px-10 flex justify-center bg-black bg-[linear-gradient(to_top,#003B2D_0%,#000000_20%)] pt-30 pb-5">
  <div class="flex flex-col items-start w-full max-w-6xl">
    <h1 class="text-5xl md:text-7xl font-bold leading-tight text-white">Experiencia Laboral</h1>

    <div class="flex flex-col w-full my-25 animAmatech" #groupAmatech>

      <div class="p-2 flex flex-col md:flex-row justify-between text-white">
        <img class="w-70 h-auto" src="assets/amatech.png">

        <div class="flex flex-col items-end">
          <h1 class="font-bold text-1xl md:text-2xl">Amatech S.A. de C.V.</h1>
          <h1 class="font-bold text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-r from-pink-400 to-blue-400">Analista de Desarrollo</h1>
          <h1 class="text-1xl md:text-2xl text-blue-200">Agosto 2024 - Septiembre 2025</h1>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-center gap-6 p-8 my-20 md:my-10">
        @for(tag of tags; track tag.text){
          <div class="text-white bg-linear-to-bl from-blue-900 to-blue-950 p-8 rounded-xl shadow-lg flex flex-col items-center text-center w-90 h-80">
            <div class="w-full flex justify-end">
              <ng-container *ngComponentOutlet="tag.component"></ng-container>
            </div>
            <div class="flex items-end h-full">
              <p class="text-2xl sm:text-2xl md:text-xl text-left">
                {{ tag.text }}
              </p>
            </div>
          </div>
        }

      </div>

    </div>
    <div class="flex flex-col w-full my-25 animSmyt" #groupSmyt>
      <div class="p-2 flex flex-col md:flex-row justify-between text-white">
        <div class="flex flex-col items-start">
          <h1 class="font-bold text-1xl md:text-2xl">Secretaria de Movilidad y Trasnporte</h1>
          <h1 class="font-bold text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-green-400">Desarrollador Full Stack Jr</h1>
          <h1 class="text-1xl md:text-2xl text-green-200">Agosto 2024 - Septiembre 2025</h1>
        </div>

        <img class="w-80 h-auto" src="assets/smyt.png">
      </div>

      <div class="flex flex-col md:flex-row items-center gap-6 p-8 my-20 md:my-10">
        @for(tag of tagsSmyt; track tag.text)
        {
          <div class="text-white bg-linear-to-bl from-green-900 text-shadow-green-800 p-8 rounded-xl shadow-lg flex flex-col items-center text-center w-90 h-80">
            <div class="w-full flex justify-end">
              <ng-container *ngComponentOutlet="tag.component"></ng-container>
            </div>
            <div class="flex items-end h-full">
              <p class="text-2xl sm:text-2xl md:text-xl text-left">
                {{ tag.text }}
              </p>
            </div>
          </div>
        }



      </div>

    </div>
  </div>
</div>
