<div class="px-10 text-white min-h-screen flex items-center justify-center bg-no-repeat bg-[url('assets/background-pink.png')] bg-cover">
  <div class="flex flex-col md:flex-row items-center max-w-6xl w-full gap-8">
    <!-- Texto -->
    <div class="flex-1 my-6">
      <h1 class="text-5xl md:text-6xl font-bold leading-tight title">
        Manuel Alejandro <br />
        Mora Meneses
      </h1>
      <!-- <p class="text-xl mt-2 text-gray-300 transition-colors durarion-1000" [style.color]="textColor()">Ingeniero en Computación</p> -->
      <p class="text-xl mt-2 font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-400 to-purple-400 title">Ingeniero en Computación</p>

      <p class="text-lg text-white mr-20 title pb-10">
        Desarrollador Full Stack Jr con experiencia en el diseño, creación y
        mantenimiento de sitios web y APIs. Me caracterizo por ser una persona
        responsable, autodidacta con gran ímpetu en superarme. Buenas habilidades
        de comunicación y trabajo en equipo.
      </p>
    </div>

    <!-- Imagen circular -->
    <div class="flex-shrink-0">
      <img
      class="w-60 h-60 rounded-full title"
        [src]="imageProfile()"
        alt="Foto de perfil"
      />
    </div>
  </div>
</div>
